@import "../../_globalColor";

.experience-card {
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: none;
  color: white;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.3);
}

.experience-card:nth-child(1) .experience-banner {
  background: linear-gradient(135deg, #b57edc, #9a59b5); /* Morado */
}

.experience-card:nth-child(2) .experience-banner {
  background: linear-gradient(135deg, #7eb6ed, #599ab5); /* Azul */
}

.experience-card:nth-child(3) .experience-banner {
  background: linear-gradient(135deg, #fde68a, #facc15); /* Amarillo */
}

.experience-card:nth-child(4) .experience-banner {
  background: linear-gradient(135deg, #f9a8d4, #ec4899); /* Rosa */
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0px 0px;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.experience-roundedimg {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.experience-text-details {
  padding: 1.5rem;
  text-align: center;
}

.experience-text-role {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.experience-text-date {
  font-size: 1rem;
  opacity: 0.8;
}

.experience-text-desc {
  font-size: 1rem;
  margin-top: 1rem;
  opacity: 0.9;
}

.experience-text-details ul {
  padding: 0;
  list-style: none;
  margin-top: 1rem;
}

.experience-text-details li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .experience-card {
    width: 100%;
  }
}
